// Custom styles.
body{
    // background:url(/images/bg123.png);
    // background-size:cover;
    // background-repeat: no-repeat;
    // background-attachment:fixed;
    // background-position:center;
    background-image: url(/images/bg123.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

.site-meta {
  background: $blue; //修改为自己喜欢的颜色
}

h1.post-title .post-title-link{
    color: #09bace;
}
