.site-brand-container {
  position: relative;
}

.site-meta {
  background: $orange;
  color: black;
  padding: 20px 0;
  height: 80px;
      background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  background-image: url(https://www.z4a.net/images/2020/01/26/imagec9ab3303999037fd.md.png); 


  +tablet-mobile() {
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    opacity: 0.5;
  }
}

.brand {
  background: none;
  padding: 0;

  &:hover {
    color: white;
  }
}

.site-subtitle {
  font-weight: initial;
  margin: 10px 10px 0;
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}
