.header {
  margin: 0 auto;
  position: relative;
  width: $content-desktop;

  +desktop-large() {
    width: $content-desktop-large;
  }

  +desktop-largest() {
    width: $content-desktop-largest;
  }

  +tablet-mobile() {
    width: auto;
  }
}

.header-inner {
  background: rgba(255,255,255,0.8);
  border-radius: $border-radius-inner;
  box-shadow: $box-shadow-inner;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 560px;
  width: $sidebar-desktop;

  +desktop-large() {
    width: $sidebar-desktop;
  }

  +tablet-mobile() {
    border-radius: initial;
    position: relative;
    width: auto;
    top: 71px;
    z-index: 10;
    margin-bottom: 123px;
  }
  +mobile() {
      margin-bottom: 90px;
      top: 29px;
  }
}

.main-inner {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  if (hexo-config('sidebar.position') != 'right') {
    flex-direction: row-reverse;
  }
  +tablet-mobile() {
    width: auto;
  }
}

.content-wrap {
  background: white;
  border-radius: $border-radius-inner;
  box-shadow: $box-shadow-inner;
  box-sizing: border-box;
  padding: $content-desktop-padding;
  width: $content-wrap;

  +tablet-mobile() {
    border-radius: initial;
    padding: 20px;
    width: 100%;
  }
}

if (hexo-config('sidebar.position') == 'right') {
  .header-inner {
    right: 0;
  }

  .book-mark-link {
    left: $b2t-position-right;
  }

  .footer-inner {
    padding-right: 260px;
  }
} else {
  .footer-inner {
    padding-left: 260px;
  }

  .back-to-top {
    left: auto;
    right: $b2t-position-right;

    +tablet-mobile() {
      right: $b2t-position-right-mobile;
    }
  }
}

.footer-inner {

  +tablet-mobile() {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

// 下拉萌化回到顶部条
.back-to-top-coo {
  cursor: pointer;
    position: fixed;
    right: 20px;
    top: -900px;
    z-index: 2;
    width: 70px;
    height: 900px;
    background: url(../images/scroll.png);
    // background: black;
    transition: all .5s ease-in-out; 
    opacity: 1;
      +mobile() {
         display: none;
        }
  }

  .back-to-top-coon {
    top: -10px;
    }